<!DOCTYPE html>

<html lang="en">

    <head>
        <title>Create a review</title>
    </head>

    <body>
        <h1>Rotten Potatoes - Create a Review</h1>

        <nav>
            <a href="..">Home</a>
            <a href="profile">Profile</a>
            <a href="">Create a review</a>
            <a href="{% url 'users:logout' %}">Log out</a>
        </nav>

        {% if user.is_authenticated %}

        <p>Hello {{user.username}}!</p>

        {% else %}

        <p>To access this page, you should <a href="{% url 'users:login' %}">log in</a></p>

        {% endif %}

    </body>

</html>