<!DOCTYPE html>

<html lang="en">

    <head>
        <title>Create a review</title>
    </head>

    <body>
        <h1>Rotten Potatoes - Create a Review</h1>

        <nav>
            <a href="..">Home</a>
            <a href="profile">Profile</a>
            <a href="">Create a review</a>
            <a href="{% url 'users:logout' %}">Log out</a>
        </nav>

        {% if user.is_authenticated %}

        {% if user.first_name %}

        <p>Hello {{user.first_name}}!</p>

        {% else %}

        <p>Hello {{user.username}}!</p>

        {% endif %}

        <form method="post" action="{% url 'app:add' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit">Register</button>
            <input type="hidden" name="next" value="{% url 'app:profile' %}" />

        </form>

        {% else %}

        <p>To access this page, you should <a href="{% url 'users:login' %}">log in</a></p>

        {% endif %}

    </body>

</html>