<!DOCTYPE html>

<html lang="en">

    <head>
        <title>Rotten Potatoes</title>
    </head>

    <body>
        <h1>Rotten Potatoes</h1>

        <nav>
            <a href="">Home</a>
            <a href="profile">Profile</a>
            <a href="{% url 'users:logout' %}">Log out</a>
        </nav>

        {% if user.is_authenticated %}

        <p>Hello {{user.username}}!</p>

        <p>Homepage</p>
        
        {% else %}
        <p>To access this page, you should <a href="{% url 'users:login' %}">log in</a></p>
        {% endif %}

    </body>

</html>