<!DOCTYPE html>

<html lang="en">

    <head>
        <title>Profile</title>
    </head>

    <body>
        <h1>Rotten Potatoes - Profile</h1>

        <nav>
            <a href="..">Home</a>
            <a href="">Profile</a>
            <a href="add">Create a review</a>
            <a href="search">Search</a>
            <a href="{% url 'users:logout' %}">Log out</a>
        </nav>

        {% if user.is_authenticated %}

        {% if user.first_name %}

        <p>Hello {{user.first_name}}!</p>

        {% else %}

        <p>Hello {{user.username}}!</p>

        {% endif %}

        <p>Followers:</p>

        <ul>
            {% for follower in user.person.follows_set.all %}
            <li><a href="{{follower}}">{{follower}}</a></li>
            {% endfor %}
        </ul>

        <p>Following:</p>
        <ul>
            {% for follower in user.person.follows.all %}
            <li><a href="{{follower}}">{{follower}}</a></li>
            {% endfor %}
        </ul>

        <p>My albums:</p>

        <ul>

            {% for album in albums %} 

            <li>{{album.album}} by {{album.album.artist}}</li>

            <ul>
                <li>{{album.rating}}/5.0</li>
                <li>"{{album.review}}"</li>
            </ul>

            {% endfor %} 

        </ul>

        {% else %}

        <p>To access this page, you should <a href="{% url 'users:login' %}">log in</a></p>

        {% endif %}

    </body>

</html>