<!DOCTYPE html>

<html lang="en">

    <head>
        <title>Rotten Potatoes</title>
    </head>

    <body>
        <h1>Rotten Potatoes</h1>

        {% if user.is_authenticated %}

        <p>Hello {{user.username}}!</p>

        <p>My albums:</p>

        <ul>
            {% for album in albums %}

            <li>{{album}}</li>

            {% endfor %}
        </ul>

        <p>Click <a href="..">here</a> to go home.</p>

        <p><a href="{% url 'users:logout' %}">Log out</a></p>

        {% else %}

        <p>To access this page, you should <a href="{% url 'users:login' %}">log in</a></p>

        {% endif %}

    </body>

</html>