<!DOCTYPE html>

<html lang="en">

    <head>
        <title>Profile</title>
    </head>

    <body>
        <h1>Rotten Potatoes - Profile</h1>

        <nav>
            <a href="..">Home</a>
            <a href="">Profile</a>
            <a href="add">Create a review</a>
            <a href="{% url 'users:logout' %}">Log out</a>
        </nav>

        {% if user.is_authenticated %}

        <p>Hello {{user.username}}!</p>

        <p>My albums:</p>

        <ul>

            {% for album in albums %} 

            <li>{{album.album}}</li>

            <ul>
                <li>{{album.rating}}</li>
                <li>{{album.review}}</li>
            </ul>

            {% endfor %} 

        </ul>

        {% else %}

        <p>To access this page, you should <a href="{% url 'users:login' %}">log in</a></p>

        {% endif %}

    </body>

</html>