<!DOCTYPE html>

<html lang="en">

    <head>
        <title>User Profile</title>
    </head>

    <body>
        {% if user.is_authenticated %}

        <h1>{{person.user.first_name}} {{person.user.last_name}}</h1>

     
        <form method="post" action="{% url 'app:user' username=person.user.username %}">
            {% csrf_token %} 
            {% if person in user.person.follows.all %}
            <button name="unfollow">Following</button>
            {% else %}
            <button name="follow">Follow</button>
            {% endif %}
            <input type="hidden" name="follows" value="{% url 'app:user' username=person.user.username %}" />

        <p>Followers:</p>

        <ul>
            {% for follower in person.follows.all %}
            <li>{{follower}}</li>
            {% endfor %}
        </ul>

        <p>Following:</p>
        <ul>
            {% for follower in person.follows_set.all %}
            <li>{{follower}}</li>
            {% endfor %}
        </ul>

        <p>{{person.user.first_name}}'s albums:</p>

        <ul>

            {% for album in albums %} 

            <li>{{album.album}} by {{album.album.artist}}</li>

            <ul>
                <li>{{album.rating}}/5.0</li>
                <li>"{{album.review}}"</li>
            </ul>

            {% endfor %} 

        </ul>

        <p>Go back to <a href="search">search</a></p>

        {% else %}

        <p>To access this page, you should <a href="{% url 'users:login' %}">log in</a></p>

        {% endif %}

    </body>

</html>


